* {
    margin: 0;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    background-color: #222;
    font-family:arial;
    overflow: hidden;
}

#mainWrapper, .slidesWrapper, .singleSlide {
    width: 1024px;
    height: 668px;
}

#mainWrapper {
    position: absolute;
    left: 50%;
    top: 43%;
    margin-left: -512px;
    margin-top: -284px;
    background-color: #ffffff;
}

.page2top {
position: absolute;
left: 0px;
top: -20px;
z-index: 1;
}

.browser-text {
margin-top: 180px;
margin-left: 210px;
font-size: 18px;
}

.browsers {
	margin-left: 260px;
	margin-top: 40px;
}

.browsers a {
	margin-right:20px;
}

a img{
	border:none;
}


