#slide6 .single-holder {
	position: absolute;
	height: 688px;
	width: 1024px;
	overflow: hidden;
	margin-left: 0px;
	background-color: transparent;
	z-index: 2;
	background-color: #E4E3E3;
}

.single-holder .simageHolder {
	width: 1024px;
	left: 510px;
}

.header-text5 {
	position: absolute;
	background: #646464;
	color: white;
	padding: 6px;
	width: 382px;
	text-align: right;
	top: 181px;
	left: -31px;	
	font-weight: bold;
	font-size: 19px;
	z-index: 2;
}


.header-subtext5 {
	position: absolute;
	background: black;
	color: white;
	padding: 6px;
	width: 396px;
	text-align: right;
	top: 221px;
	left: -72px;
	font-weight: bold;
	font-size: 30px;
	z-index: 1;
}

.subtext-5 {
	top: 328px;
	left: 526px;
	font-weight: bold;
	font-size: 26px;
	position: absolute;
}


.subtext-5a {
	top: 368px;
	left: 527px;
	font-size: 13px;
	position: absolute;
	text-align: left;
	
}


.subtext-6 {
	top: 328px;
	left: 526px;
	font-weight: bold;
	font-size: 26px;
	position: absolute;
}


.subtext-6a {
	top: 368px;
	left: 527px;
	font-size: 13px;
	position: absolute;
	text-align: left;
	
}

.subtext-7 {
	top: 328px;
	left: 526px;
	font-weight: bold;
	font-size: 26px;
	position: absolute;
}


.subtext-7a {
	top: 368px;
	left: 527px;
	font-size: 13px;
	position: absolute;
	text-align: left;
	
}

.btn-rabatt {
	position: absolute;
	top: 360px;
	left: 803px;
}


#slide6 .subheadline{
	font-size: 35px;
	top: 110px;
	position: absolute;
	background-color: #3E3D41;
	color: #FFF;
	padding: 3px 35px 3px 5px;
	right: 0;

}


.matrix_wrapper{
	width: 801px;
	overflow: hidden;
	position: relative;
	top: 160px;
	margin: auto;
}
.matrix_inner_wraper{
	position: relative;
	left: 0;
	overflow: hidden;
}
.matrix_container{
	float: left;
	text-align: left;
	width: 801px;
	margin-right: 223px;
}

.matrix_container.container_center {
    float: left;
    text-align: center;
    width: 799px;
    margin-top: 0px;
}

/* matrix_items */
.matrix_items{
	display: inline-block;
	padding: 1px;
	position: relative;
}
.matrix_items .matrix_img{
	background-position: 70% 50% !important;
	display: block;
	height: 138px;
	background-size: 220% !important;
	background-repeat: no-repeat !important;
}
.matrix_items.item_big{
	height: 120px;
    width: 160px;
	overflow: hidden;
}
.matrix_items.item_small{
	height: 138px;
	width: 144px;
	overflow: hidden;
}
.matrix_items .icon_plus{
	background: url(../../img/page6/icon_plus.png) no-repeat;
    width: 40px;
    height: 35px;
	display: inline-block;
	position: absolute;
	bottom: 0px;
	right: 0px;
	background-size: 100% !important;
}

.matrix_items .icon_video {
	background: url(../../img/page6/video.png) no-repeat;
    width: 95px;
    height: 35px;
    display: inline-block;
    position: absolute;
    bottom: 0px;
    right: 0px;
    background-size: 100% !important;
    background-color: #ffffff;
}

.video_wrapper, .video_wrapper video {
	width: 100%;
	height: 100%;
}

/* matrix_controller */
.matrix_controller{
	margin: 30px auto;
	width: 465px;
	overflow: hidden;
}
.matrix_controller .bt{
	display: inline-block;
}

.matrix_controller .bt_right,
.matrix_controller .bt_left{
	background: url(../../img/page6/matrix_arrows.png) no-repeat 0 0;
	width: 10px;
	height: 14px;
	z-index: -99999;
	float: left;
	margin: 0px 2px;
	cursor: pointer;
}

.matrix_controller .bt_right:hover,
.matrix_controller .bt_left:hover{
	background: url(../../img/page6/matrix_arrows_hover.png);
	
}

.matrix_controller .bt_right{
	background-position: bottom right;
    float: right;
    margin-top: -14px;
}

.matrix_controller .bt_right:hover{
	background-position: bottom right;
}

.matrix_controller .matrix_scroller{
	width: 435px;
	height: 14px;
	margin-left: 15px;
	background-color: #fff;
}
.matrix_controller .matrix_draggalbe{
	left: 0;
	position: relative;
	height: 14px;
	background-color: #FC0;
}

/* matrix_layer_wrapper */
.matrix_layer_wrapper{
	position: absolute;
	top:0;
	left: 0px;
	width: 100%;
	height: 100%;
	background: url(../../img/page6/overlay_bg.png);
	display: none;
		z-index: 11111;
}

.matrix_layer{
	width: 690px;
	margin: 130px auto 0;
	overflow: hidden;
}

.matrix_layer .content_left,
.matrix_layer .content_right{
	float: left;
}
.matrix_layer .content_left{
	width: 62px;	
	background-color: #FC0;
	text-align: center;
	height: 470px;
}
.matrix_layer .content_right{
	position: relative;
	width: 627px;	
}
.matrix_layer .large_img img{
	width: 100%;
}

.large_img {
	height:470px;
	position: relative;
	overflow: hidden;
	background-color: #FC0;
}
.matrix_layer .closeOverlay{
	position: absolute !important;
	right: 0px;
	background: url(../../img/page6/closeOverlay.png) no-repeat 0 0;
	text-indent: -999999px;
	width: 35px;
	height: 35px;
	cursor: pointer;
	z-index: 1;
}

.matrix_layer .content_left a, .printImg{
	font-size: 8px;
	color: #3E3D40;
	margin-top: 15px;
	overflow: hidden;
	position: relative;
	display: block;
	text-decoration: none;
}

.matrix_layer .content_left a, .kundenportalImg{
	font-size: 8px;
	color: #3E3D40;
	margin-top: 16px;
	overflow: hidden;
	position: relative;
	display: block;
	text-decoration: none;
	cursor: pointer;
}

.kundenportalImg {
	margin-top: -8px;
}

.default_matrix {
	top:270px !important;
}

.default_images {
	top: 330px !important;
}

#slide6 .registrieren_btn_default {
    bottom: 100px;
}

.btOverlay{
	width: 19px;
	height: 30px;
	position: absolute;
	background: #F00;
	z-index: 111;
	bottom: 50px;
	left: 40%;
	background: url(../../img/page6/matrix_overlay_arrows.png) no-repeat 0 0;
	cursor: pointer;
}

.bt_rightOverlay{
	left: 54%;
	background-position: top right;
}

.block-btns {
	position: absolute;
	width: 470px;
	height: 20px;
	top: 612px;
	left: 277px;
	z-index: 1;
	display: none;
}

#slide6 .images_label {
    text-align: center;
    font-size: 20px;
    top: 220px;
    position: relative;
}

#slide6 .images_label_training {
    text-align: center;
    font-size: 20px;
    top: 130px;
    position: relative;
}

#slide6 .registrieren_btn {
	bottom: 50px;
}

#slide6 .btn_training {
	bottom: 30px !important;
}

.individual_img img{
	width: 100%;
}

.individual_img {
	width: 627px;
	height:400px;
	position: relative;
	overflow: hidden;
	margin: auto;
}

.individual_img_wrapper {
	overflow: hidden;
	position: relative;
	top: 160px;
	margin: auto;
}

.individual_img_wrapper .icon_plus{
	background: url(../../img/page6/icon_plus.png) no-repeat;
	width: 55px;
	height: 50px;
	display: inline-block;
	position: absolute;
    top: 1px;
    right: 1px;
    z-index: 1;
	background-size: 100% !important;
}

.individual_label {
	font-size: 16px;
    color: #ffffff;
    width: 627px;
    position: absolute;
    bottom: 0px;
    text-align: left;
    left: 199px;
    height: 190px;
    padding: 20px;
}

.back_label {
	background: #272729;
    opacity: 0.7;
    width: 627px;
    position: absolute;
    bottom: 0px;
    text-align: left;
    left: 0;
    height: 190px;
    padding: 20px;
}

.controller_training {
    margin: 10px auto 40px !important;
}

.individual_label h2 {
	margin-bottom: 10px;
}

.individual_label h2, .individual_label .anrede, .individual_label span {
	opacity: 1;
    z-index: 1;
    position: relative;
}

.individual_btn {
	bottom: 70px !important;
}