#slide3 .single-holder {
	position: absolute;
	height: 688px;
	width: 1024px;
	overflow: hidden;
	margin-left: 0px;
	background-color: transparent;
	z-index: 2;
}

.single-holder .simageHolder {
	width: 1024px;
	left: 510px;
}



.header-text3 {
	position: absolute;
	background: black;
	color: white;
	padding: 2px 10px;
	width: 372px;
	text-align: right;
	top: 147px;
	left: -110px;
	font-weight: bold;
	font-size: 41px;
	z-index: 1;
}


.header-subtext3 {
	position: absolute;
	background: #646464;
	color: white;
	padding: 2px 10px;
	width: 382px;
	text-align: right;
	top: 212px;
	left: -22px;
	font-weight: bold;
	font-size: 24px;
	z-index: 1;
}

.pfeil1 {
	position: absolute;
	top: 499px;
	left: 190px;
}

.pfeil2 {
	position: absolute;
	top: 505px;
	left: 595px;
}

.pfeil1-text {
position: absolute;
top: 512px;
left: 207px;
font-weight: bold;
font-size: 25px;
width: 200px;
}

.pfeil2-text {
position: absolute;
top: 512px;
left: 635px;
color: white;
font-weight: bold;
font-size: 25px;
width: 250px;
}

.btn1 {
	position: absolute;
	top: 506px;
	left: 417px;
}

.btn2 {
	position: absolute;
	top: 506px;
	left: 600px;
}

.pkw {
	position: absolute;
	
}

.pkw img {
	width: 510px;
	margin-left: -3px;
}

.motorrad {
	position: absolute;
	margin-left: 514px;
}

.motorrad img {
	width: 510px;
}

.pkw-holder,
.moto-holder
 {
	cursor: pointer;
}

.training {
	background: url(../img/page3/back-grey.jpg) no-repeat 0px 0px transparent;
	position: absolute;
	width: 505px;
	height:668px;
	left: 519px;
	background-size: 100% auto;
}

.training-menu div {
	float:left;
	color:#ffffff;
	font-size: 20px;
	margin-right: 30px;
	cursor: pointer;
}

.training-menu div.active {
	border-bottom: 4px solid #FFCC00;
	color: #FFCC00;
}

.training-menu {
	position: absolute;
	top: 130px;
	margin-left: 40px;
	z-index: 0;
}

.training-holder, 
.owl-item {	
	text-align: left;
	width: 260px;
	float:left;
}

.training-holder .title {
	color: #ffffff;
	font-size: 26px;
}

.training-holder .subtitle {
	margin-top:10px;
	font-weight: bold;
}

.training-holder .fsg {
	font-size: 15px;
}

.training-holder .dauer {
	margin-top: 50px;
	border-top: 4px solid #FFCC00;
	border-bottom: 4px solid #FFCC00;
	padding: 15px 0;
	width: 250px;
}

.training-holder ul {
	padding-left: 20px;
	line-height: 20px;
}

.training-scroll {
	margin-top:600px;
}

.prev-training, .page-dot {
	margin-right:80px;
	cursor: pointer;
	content: '';
    background: #595959;
    color: #595959;
    border-radius: 100%;
    opacity: 1;
    width: 15px;
    height: 15px;
    margin: 0px 5px;
    display: inline-block;
}

.next-training {
	cursor: pointer;
	content: '';
    background: #595959;
    color: #595959;
    border-radius: 100%;
    opacity: 1;
    width: 15px;
    height: 15px;
    margin: 0px 5px;
    display: inline-block;
}

.trainings-container {
	/*width: 20000px;
	height: 200px;
    width: 200px;
    /* position: absolute; */
    overflow: hidden;
    height: 450px;
}

.training-view {   
    position: relative;
    width: 260px;
    height: 400px;
    overflow: hidden;
    top: 200px;
    margin-left: 100px;
}

.moto-holder, .pkw-holder {
	position: absolute;
	z-index: 2;
}

#slide3 .moto {
	left:0;
}

.prev-training {
	position: absolute;
	left:210px;
}
.next-training {
	position: absolute;
	left:240px;
}

.prev-training.hidden, .next-training.hidden {
	display: none;
}

.aufstiegspraxis .description {
	margin-top: 15px;
}

.aufstiegspraxis .dauer {
	margin-top: 0;
}

/* OWL CAROUSEL */
.owl-dots {
	text-align: center;
	float: none;
	clear: both;
}
.owl-dots .owl-dot {
    display: inline-block;
    margin-top: 10px;
}
.owl-dots .owl-dot span {
    background-color: #595959;
    border-radius: 100%;
    display: block;
    height: 20px;
    margin: 5px;
    opacity: 0.5;
    width: 20px;
}

.owl-dots .owl-dot.active span {
    background-color: #ffffff;
}

.owl-nav.disabled {
	display: none;
}

.owl-stage {
    width: 2000px;
}
/* OWL CAROUSEL END*/

