#slide5 .single-holder {
	position: absolute;
	height: 688px;
	width: 1024px;
	overflow: hidden;
	margin-left: 0px;
	background-color: transparent;
	z-index: 2;
}

.single-holder .simageHolder {
	width: 1024px;
	left: 510px;
}



#slide5 .header-text5 {
	position: absolute;
	background: #646464;
	color: white;
	padding: 2px 10px;
	width: 595px;
	text-align: right;
	top: 147px;
	left: -110px;
	font-weight: normal;
	font-size: 41px;
	z-index: 1;
}


#slide5 .header-subtext5 {
	position: absolute;
	background: #9c9696;
	color: white;
	padding: 2px 10px;
	width: 805px;
	text-align: right;
	top: 212px;
	left: -22px;
	font-size: 22px;
	font-weight: normal;
	z-index: 1;
}

#slide5 .moto {
	left:150px;
}


.registrieren_btn {
	position: absolute;
	cursor: pointer;
	background-color: #FFCC00;
	padding: 5px 20px;
	color: #000000;
    bottom: 90px;
    left: 43%;
}

.registrieren_btn a{
    text-decoration: none;
}

#slide5 .registrieren_wrapper {
	position: absolute;
	background: url(../../img/page5/registrieren_back.png) no-repeat 0 0;
	color: #000000;
    bottom: 140px;
	text-align:left;
	height: 270px;
    width: 410px;
    left: 33%;
}

.registrieren_label {
	color: #ffffff;
	font-size: 13px;
	line-height: 1.4;
	width: 309px;
	padding: 5px 0 0;
}

#slide5 .registrieren_items {
	margin: 5px 20px;
	padding: 5px 0 0 13px;
	height: 30px;
    font-size: 16px;
    background: url(../../img/page5/label_back.png) no-repeat 0 0;
}

#slide5 .registrieren_items.first {
	margin: 60px 20px 0;
}