.single-holder {
	position: absolute;
	height: 688px;
	width: 1024px;
	overflow: hidden;
	margin-left: 0px;
	background-color: #ffffff;
	z-index: 1;
}

.single-holder .simageHolder {
	width: 1024px;
	left: 510px;
}

.page2top {
	position: absolute;
	left: 0px;
	top: 0px;
	z-index: 1;
}


.header-subtext2 {
	position: absolute;
	background: #3e3d40;
	color: white;
	padding: 10px;
	width: 435px;
	text-align: right;
	top: 125px;
	left: -60px;
	font-weight: bold;
	font-size: 34px;
	z-index: 0;
	letter-spacing: 0px;
}



.page2-background{
	position: absolute;
	top: -48px;
	z-index: 20;
}

.link1 {
	position: absolute;
	top: 78px;
	left: 27px;
	z-index: 20;
	cursor: pointer;
}

.link2 {
    position: absolute;
    top: 185px;
    left: 22px;
    z-index: 20;
    cursor: pointer;
}

.link3 {
	position: absolute;
    top: 305px;
    left: 28px;
    z-index: 20;
    cursor: pointer;
}

.link4 {
    position: absolute;
    top: 420px;
    left: 29px;
    z-index: 20;
    cursor: pointer;
}

.link5 {
	position: absolute;
	top: 530px;
	left: 30px;
	z-index: 20;
	cursor: pointer;
}

.text-link1 {
	position: absolute;
	left: 125px;
	top: 100px;
	color: white;
	text-align: left;
	font-size: 12px;
	z-index: 20;	
	width: 110px;
	cursor: pointer;
}

.text-link2 {
	position: absolute;
	left: 125px;
	top: 212px;
	color: white;
	text-align: left;
	font-size: 12px;
	z-index: 20;
	width: 110px;
	cursor: pointer;	
}

.text-link3 {
	position: absolute;
	left: 125px;
	top: 325px;
	color: white;
	text-align: left;
	font-size: 12px;
	z-index: 20;	
	width: 110px;
	cursor: pointer;
}

.text-link4 {
	position: absolute;
	left: 125px;
	top: 445px;
	color: white;
	text-align: left;
	font-size: 12px;
	z-index: 20;	
	width: 110px;
	cursor: pointer;
}

.text-link5 {
	position: absolute;
	left: 125px;
	top: 555px;
	color: white;
	text-align: left;
	font-size: 12px;
	z-index: 20;	
	width: 110px;
	cursor: pointer;
}


.index-menu {
	position: absolute;
	width: 284px;
	height: 668px;
	margin-left: 741px;
	letter-spacing: 1px;
}

#play {
	position: absolute;
	width: 200px;
	left: 400px;
	top: 300px;
	cursor: pointer;
	z-index: 11;
	display: none;
}

.video-wrapper {
margin-top: 41px;
}

.bottom-vid {
	background: url(../img/page2/black-bar.png) no-repeat 0 0 transparent;
width: 1024px;
height: 51px;
position: absolute;
bottom: 20px;
color: #ffffff;
text-align: left;
padding-top: 12px;
font-size: 28px;
padding-left: 20px;
}
