#slide3 .single-holder {
	position: absolute;
	height: 688px;
	width: 1024px;
	overflow: hidden;
	margin-left: 0px;
	background-color: transparent;
	z-index: 2;
}

.single-holder .simageHolder {
	width: 1024px;
	left: 510px;
}


.header-text4 {
	position: absolute;
	background: #9c9696;
	color: white;
	padding: 0px 6px;
	width: 402px;
	text-align: right;
	top: 178px;
	left: -31px;
	font-weight: bold;
	font-size: 21px;
	z-index: 2;
}


.header-subtext4 {
	position: absolute;
	background: #3e3d40;
	color: white;
	padding:0px 6px;
	width: 425px;
	text-align: right;
	top: 221px;
	left: -1px;
	font-weight: bold;
	font-size: 35px;
	z-index: 1;
}

.subtext-gelb {
	top: 360px;
	left: 527px;
	font-weight: bold;
	font-size: 23px;
	position: absolute;
	
	
}

.subtext-parken {
	position: absolute;
	top: 360px;
	left: 527px;
	font-weight: bold;
	font-size: 23px;	
	
}


.subtext-autobahn {
	position: absolute;
	top: 360px;
	left: 527px;
	font-weight: bold;
	font-size: 23px;	
	
}

.btn-aktiv {
	position: absolute;
	top: 466px;
	left: 536px;
}

.btn-leer {
	position: absolute;
	top: 404px;
	left: 520px;
}

.btn-leer1 {
	position: absolute;
	top: 522px;
	left: 560px;
}

.btn1-text {
	position: absolute;
	top: 413px;
	left: 561px;
	font-size: 17px;
}

.btn2-text {
	position: absolute;
	top: 469px;
	left: 583px;
	font-size: 17px;
}

.btn3-text {
	position: absolute;
	top: 529px;
	left: 608px;
}

.btn-number-leer{
	position: absolute;
	top: 171px;
	left: 933px;
}

.btn-number-voll {
	position: absolute;
	top: 91px;
	left: 933px;}

.btn-strich {
	position: absolute;
	position: absolute;
	top: 94px;
	left: 954px;
	z-index: -1;
}

.btn1-textparken {
	position: absolute;
	top: 413px;
	left: 561px;
	font-size: 17px;
}

.btn2-textparken {
	position: absolute;
	top: 469px;
	left: 583px;
	font-size: 17px;
}

.btn3-textparken {
	position: absolute;
	top: 529px;
	left: 608px;
}

.btn1-textautobahn {
	position: absolute;
	top: 413px;
	left: 561px;
	font-size: 17px;
}

.btn2-textautobahn {
	position: absolute;
	top: 469px;
	left: 583px;
	font-size: 17px;
}

.btn3-textautobahn {
	position: absolute;
	top: 529px;
	left: 608px;
}

.auto-fragen {
	position: absolute;
	top: 350px;
	text-align: left;
	margin-left: 500px;
}

.moto .auto-fragen,
.suv .auto-fragen
 {
	position: absolute;
	top: 300px;
	text-align: left;
	margin-left: 290px;
}

.moto .fragen .frage,
.suv .fragen .frage
 {
	line-height: 30px;
	margin-top: -100px;
}

.fragen {
	position: absolute;
	width: 360px;
	cursor: pointer;
	font-size: 18px;
	top: 60px;
	letter-spacing: 1px;
}

.fragen div {
	background: url(../img/page4/btn-leer.svg) no-repeat 0 10px transparent;
	padding-left: 52px;
	margin-bottom: 22px;
	position: absolute;
	width: 500px;
	text-align: left;
	height: 50px;
	padding-top: 15px;
}

.fragen div.active {
	background: url(../img/page4/btn-voll.svg) no-repeat 0px 16px transparent;
}

.fragen .second {
	top: 60px;
	margin-left: 30px;

}

.fragen .third {
	top: 120px;
	margin-left: 60px;
}

.fragen .frage {
	margin-top:-60px;
	background: none;
	font-size: 28px;
	padding-left: 0px;
	cursor: default;
}

.auto-back {
	position: absolute;
	z-index: -1;
}

.steps {
	position: absolute;
	left: 920px;
	top: 80px;
	background: url(../img/page4/btn-strich.svg) no-repeat 21px 5px transparent;
	z-index: 2;
}

.steps div {
	background: url(../img/page4/btn-number-leer.svg) no-repeat 0px 0px transparent;
	width: 56px;
	height: 56px;
	font-size: 30px;
	padding-top: 12px;
	margin-bottom: 20px;
	cursor: pointer;
}

.steps div.active {
	background: url(../img/page4/btn-number-voll.svg) no-repeat 0px 0px transparent;
	color:#ffffff;
	cursor: default;
}

.fragen .weiter {
	position: absolute;
	cursor: pointer;
	background-color: #FFCC00;
	margin-top: 190px;
	background-image: none;
	width: 120px;
	padding-left: 30px;
	height: 30px;
	padding-top: 4px;
	margin-left: 130px;
}

.moto .fragen .weiter,
.suv .fragen .weiter
 {
	color:#000000;
}

.moto .antwort-headline,
.suv .antwort-headline
 {
	color:#ffffff;
}

.antwort {
	position: absolute;
	z-index: 1;
	text-align: left;
	left: 480px;
	top: 330px;
	display: none;
}

.training-suggestions {
	background: url(../img/page4/back-antworten.png) no-repeat 0 0 transparent;
	width: 396px;
	height: 276px; 
	margin-top: -30px;
	position: absolute;
	padding-top: 105px;
}

.training-1 {
	position: relative;
	margin-top: 15px;
	margin-left: 25px;
	cursor: pointer;
	width: 340px;
}

.training-2 {
	position: relative;
	margin-top: 10px;
	margin-left: 25px;
	cursor: pointer;
	width: 340px;
}

.training-3 {
	position: relative;
	margin-top: 10px;
	margin-left: 25px;
	cursor: pointer;
	width: 340px;
}

.training-4 {
	position: relative;
	margin-top: 10px;
	margin-left: 25px;
	cursor: pointer;
	width: 340px;
}

.antwort-headline {
	font-size: 24px;
}

.antwort-subheadline {
	font-size: 16px;
}

.buchung {
	background: url(../img/page4/back-buchung.png) no-repeat 0 0 transparent;
	position: absolute;
	width: 726px;
	height: 439px;
	z-index: 2;
	margin-top: 140px;
	margin-left: 160px;
	
}

.closer {
	position: absolute;
	width: 36px;
	height: 35px;
	margin-left: 690px;
	cursor: pointer;
}

.final-training {
position: absolute;
margin-top: 65px;
margin-left: 88px;
width: 326px;
text-align: left;
background: url(../img/page4/back-training.png) no-repeat 0 0 transparent;
height: 50px;
padding-left: 20px;
padding-top: 14px;
}

.open-form {
position: absolute;
width: 264px;
height: 50px;
left: 406px;
top: 65px;
cursor: pointer;
}

.final-anrede {
	position: absolute;
	margin-top: 140px;
	margin-left: 150px;
	font-size: 20px;
font-family: helvetica;
}

.gutscheincode {
position: absolute;
margin-top: 178px;
margin-left: 210px;
font-size: 23px;
color: #FFCC00;
background: url(../img/page4/gutschein-code-back.png) no-repeat 0 0 transparent;
width: 347px;
text-align: left;
height: 93px;
padding-top: 35px;
padding-left: 56px;
}

.gutschein-bestellen {
position: absolute;
width: 162px;
height: 41px;
left: 415px;
top: 64px;
cursor: pointer;
}

.gutschein-wrapper {
	position: absolute;
top: 299px;
width: 200px;
left: 78px;
}

.headline-keine-zeit {
	margin-left: 10px;
}

.gutschein-back {
	left: 10px;
position: absolute;
top: 45px;
}

.moto .auto-fragen, .moto .fragen,
.suv .auto-fragen, .suv .fragen {
	color:#ffffff;
}

.moto .antwort-headline,
.suv .antwort-headline 
 {
	color:#ffffff;
}

.moto .antwort-subheadline,
.suv .antwort-subheadline
 {
	color:#ffffff;
}

.training-suggestions div {
	background: url(../img/page4/back-training-1.png) no-repeat 0 0 transparent;
	width: 355px;
	height: 27px;
	padding-left: 10px;
	padding-top: 3px;
}

.again {
color: #000000;
background: #ffd729;
position: absolute;
left: 750px;
width: 100px;
height: 100px;
top: -440px;
border-radius: 50px;
padding-top: 28px;
cursor: pointer;
font-size: 20px;
}

.moto .frage-3 .third {
	top:110px;
}
