#slide7 .single-holder {
	position: absolute;
	height: 688px;
	width: 512px;
	overflow: hidden;
	margin-left: 0px;
	background-color: #e4e3e3;
	z-index: 2;
	margin-left:256px;
}

#slide7 .single-holder .simageHolder {
	width: 512px;
	left: 510px;
}

.header6 {
	position: absolute;
	top: 176px;
	left: 217px;
	font-weight: bold;
	font-size: 30px;
}

.header7 {
	position: absolute;
	top: 401px;
	left: 217px;
	font-weight: bold;
	font-size: 30px;
}

.headertext {
	position: absolute;
	top: 441px;
	left: 217px;
	font-weight: bold;
	font-size: 14px;
}


.feld {
	position: absolute;
	top: 137px;
	left: 126px;
}


.text-box {
	position: absolute;
	top: 490px;
	left: 220px;
	text-align: left;
	background-color: #646464;
	padding: 10px;
	width: 570px;
	color: white;
	border: 3px rgb(245, 207, 9) solid;	
}

.text-box-klein {
	position: absolute;
	top: 502px;
	left: 621px;
	background-color: rgb(245, 207, 9);
	padding: 7px;
	width: 139px;
	font-weight: bold;
}

.karte {
	position: absolute;
	top: 168px;
	background: url(../img/page7/back-map.png) no-repeat 0 0 transparent;
	width: 434px;
	height: 251px;
	left: 42px;
}

.karte img {
	width: 95%;
	margin-top: 85px;
}

.flag {
	width: 20px;
	height: 20px;
	position: absolute;
	cursor: pointer;
}

#one {
left: 357px;
top: 112px;
}

#two {
left: 315px;
top: 106px;
}

#three {
left: 386px;
top: 114px;
}

#four {
left: 245px;
top: 112px;
}

#five {
left: 194px;
top: 159px;
}

#six {
left: 101px;
top: 168px;
}

#seven {
left: 17px;
top: 174px;
}

#eight {
left: 338px;
top: 174px;
}

#nine {
left: 284px;
top: 151px;
}

#ten {
left: 276px;
top: 194px;
}

#eleven {
top: 127px;
left: 313px;
}

#twelve {
left: 209px;
top: 140px;
}

#thirteen {
left: 340px;
top: 128px;
}

#fourteen {
left: 228px;
top: 193px;
}

#fifteen {
left: 224px;
top: 161px;
}

.zentrum {
position: absolute;
width: 434px;
height: 125px;
z-index: 1;
top: 428px;
left: 42px;
border-bottom: 1px solid #000000;
}

/*
.one {
	top: 75px;
	left: 352px;
}

.two {
	top: 67px;
	left: 302px;
}

.three {
	top: 75px;
	left: 362px;
}

.four {
	top: 77px;
	left: 228px;
}

.five {
	top: 124px;
	left: 172px;
}

.six {
	top: 136px;
	left: 75px;
}

.seven {
	top: 143px;
	left: 5px;
}

.eight {
	top: 140px;
	left: 323px;
}

.nine {
	top: 115px;
	left: 265px;
}

.ten {
	top: 162px;
	left: 258px;
}

.eleven {
	top: 93px;
	left: 297px;	
}

.twelve {
	top: 100px;
	left: 190px;
}

.thirteen {
	top: 114px;
	left: 336px;
}

.fourteen {
	top: 153px;
	left: 225px;
}
*/

#slide7 .headline {
	font-size: 13px;
	padding-top: 1px;
	top: -260px;
	position: relative;
}

.text {
color: #000000;
font-size: 12px;
text-align: left;
margin-left: 140px;
letter-spacing: 1px;
margin-top: 8px;
position: absolute;
font-weight: bold;
}

.google-map {
	position: relative;
left: -104px;
top: 7px;
}

.bild {
	left: 10px;
	position: absolute;
	top: 25px;
}

#slide7 .mainheadline {
font-size: 18px;
top: 105px;
position: absolute;
background-color: #9c9696;
color: #ffffff;
padding: 3px 35px 3px 5px;
left: 163px;
width: 390px;
}

#slide7 .subheadline {
font-size: 18px;
top: 135px;
position: absolute;
background-color: #3e3d41;
color: #ffffff;
padding: 3px 35px 3px 5px;
left: 248px;
width: 300px;
}

form {
	text-align: left;
	position: absolute;
	margin-top: 450px;
	margin-left: 40px;
}

.formfield {
	font-size: 9px;
	color:#808080;
}

.anrede {
	float:left;
	margin-right: 30px;
}

.form-box {
	float: left;
}

.titel {
	width:40px;
	float: left;
}

.titel input {
	width: 40px;
}

.vorname {
	width: 100px;
	float: left;
	margin-top:10px;
}

.vorname input {
	width: 90px;
}

.nachname {
	width: 100px;
	float: left;
	margin-top:10px;
}

.email {
	margin-top:50px;
}

.email input {
	width: 191px;
}

.nachname input {
	width: 90px;
}

.clear {
	clear:both;
}

.form-sub {
	font-size: 9px;
	margin-bottom: 12px;
	color: #3f3f42;
}

.bild img {
	width: 120px;
}

#slide7 .form-headline {
position: absolute;
top: 568px;
font-size: 24px;
color: #595959;
left: 42px;
}

.form-box.first {
	border-right: 3px dotted #b2b2b2;
	padding-right: 20px;
	margin-right: 20px;
	margin-bottom: 3px;
}

.anrede span {
	margin-left: 10px;
	font-size: 11px;

}

textarea {
	font-size: 10px;
	width: 340px;
}

.agbs {
	position: absolute;
left: 415px;
top: 640px;
	font-size: 11px;
}

.teilen-button {
background-color: #ffcc00;
position: absolute;
left: 345px;
top: 595px;
border: none;
cursor: pointer;
font-size: 18px;
padding: 5px 18px;
text-decoration: none;
}

a {
	color: #000000;
}

.karte div.action {
	background: url(../img/page7/circle.png) no-repeat 0 0 transparent;
	width: 42px;
	height: 42px;
	margin-top: -7px;
	margin-left: -8px;
}

#slide7 .page2top {
	top:-20px;
}

#slide7 .agbs a {
	color:#000000;
}

.kommentar {
	position: absolute;
	font-size: 10px;
	color: #808080;
}

.pflichtfelder {
	position: absolute;	
	font-size: 10px;
	margin-left: 138px;
	color: #808080;
}

.fliesstext {
position: absolute;
width: 280px;
height: 300px;
top: 600px;
text-align: left;
font-size: 12px;
left: 42px;
}


.kontakt {
	left: 345px;
}





