#slide1 .single-holder {
	position: absolute;
	height: 688px;
	width: 522px;
	overflow: hidden;
	margin-left: 251px;
	background-color: #ffffff;
}

#slide1 .single-holder .simageHolder {
	width: 525px;
	left: 510px;
}

.page1top {
	position: absolute;
	z-index: 2;
}


.header-text1 {
	position: absolute;
	background: black;
	color: white;
	padding: 6px;
	width: 290px;
	text-align: left;
	top: 171px;
	left: 258px;
	z-index: 1;	
}

.header-subtext1 {
	position: absolute;
	background: #646464;
	color: white;
	padding: 5px;
	width: 380px;
	text-align: left;
	top: 208px;
	left: 142px;
	font-size: 14px;
	z-index: 1;
}

.page1-background {
	position: absolute;
	left: -3px;
	top: -7px;
	opacity: 1;
}

.page1-background img {
	position: relative;
}

#play-start {
position: absolute;
width: 150px;
height: 150px;
z-index: 1;
top: 290px;
left: 170px;
}