* {
    margin: 0;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    background-color: #222;
    font-family:'FranklinGothicW01-Roman';
    overflow: hidden;
}

#mainWrapper, .slidesWrapper, .singleSlide {
    width: 1024px;
    height: 668px;
}

#mainWrapper {
    position: absolute;
    left: 50%;
    top: 43%;
    margin-left: -512px;
    margin-top: -284px;
    background-color: #000;
}

.slidesWrapper {
    background-color: #222;
}
.singleSlide {
    float: left;
    /*mockup*/
    background-color: #222;
    
    text-align: center;
   /*  padding-top: 100px; */
    color: #000000;
}

.simageHolder {
	width: 1024px;
	position: absolute;
	margin-left: -512px;
	z-index: 0;
}
.caroufredsel_wrapper {
    cursor: default !important;
}


/* ------------------------------------------------------ Navigation */
#mainWrapper .nextNavBtn, #mainWrapper .prevNavBtn {
    width: 35px;
    height: 50px;
    position: absolute;
    top: 295px;
    cursor: pointer;
    background-color: #444444;
    z-index: 3;
}
#mainWrapper .nextNavBtn {
    right: 0;
}
#mainWrapper .prevNavBtn {
    left: 0;
}
#mainWrapper .prevNavBtn.disabled, #mainWrapper .nextNavBtn.disabled {
    display: none !important;
}
#menuNav {
    overflow: hidden;
    position: absolute;
    top: 0;
    right: 0;
    list-style: none;
    padding: 0;
    opacity: 0.5;
    -webkit-transition: opacity 0.2s;
    -moz-transition: opacity 0.2s;
    -ms-transition: opacity 0.2s;
    -o-transition: opacity 0.2s;
    transition: opacity 0.2s;
    z-index: 3;
}
#menuNav:hover {
    opacity: 1;
}
#menuNav li {
    width: 45px;
    height: 35px;
    float: left;
    margin-left: 1px;
    background-color: #444444;
    cursor: pointer;
}

#menuNav img {
	margin-left: 14px;
	margin-top: 10px;
}
#mainWrapper #menuNav li:first-child {
    margin-left: 0;
}

#navigationOverlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 200;
    background-color: rgba(0,0,0,0.8);
    visibility: hidden;
    opacity: 0;
}

#navigationOverlay ul {
    position: absolute;
    top: 50%;
    width: 100%;
    padding: 0 30px;
    height: 220px;
    margin: -100px auto 0 auto;
    list-style: none;
    background-color: #000000;
    white-space: nowrap;
    display: block;
    overflow-y: hidden;
    text-align: center;
}
#navigationOverlay ul::-webkit-scrollbar {
    height: 13px;
    background: transparent;
}
#navigationOverlay ul::-webkit-scrollbar-thumb {
    background: #333;
    -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.75);
}
#navigationOverlay ul::-webkit-scrollbar-corner {
    background: #000;
}
#navigationOverlay li {
    margin-bottom: 10px;
    display: inline-block;
    margin-right: 10px;
    white-space: normal;
    vertical-align: middle;
    margin-top: 20px;
}
#navigationOverlay li:last-child {
    margin-right: 0;
}
#navigationOverlay li a {
    display: block;
    min-width: 260px;
    min-height: 165px;
    /*mockup*/
    font-size: 40px;
    color: #222222;
    text-decoration: none;
    background-color: #777777;
}
#navigationOverlay li img {
    display: block;
}


.hochformat {
	position: relative;
	width:522px;
	height:668px;
	overflow: hidden;
	left:0px;
}

.hidden {
	display: none;
}