.single-holder {
	position: absolute;
	height: 688px;
	width: 1024px;
	overflow: hidden;
	margin-left: 0px;
	background-color: #ffffff;
	z-index: 1;
}

.single-holder .simageHolder {
	width: 1024px;
	left: 510px;
}

.page2top {
	position: absolute;
	left: 0px;
	top: 0px;
	z-index: 1;
}


.header-subtext2 {
	position: absolute;
	background: #3e3d40;
	color: white;
	padding: 10px;
	width: 435px;
	text-align: right;
	top: 125px;
	left: -60px;
	font-weight: bold;
	font-size: 34px;
	z-index: 0;
	letter-spacing: 0px;
}



.page2-background{
	position: absolute;
	top: -48px;
	z-index: 20;
}

.link1 {
	position: absolute;
	top: 526px;
	left: 20px;
	z-index: 20;
}

.link2 {
	position: absolute;
	top: 226px;
	left: 20px;
	z-index: 20;
}

.link3 {
	position: absolute;
	top: 377px;
	left: 20px;
	z-index: 20;
}

.link4 {
	position: absolute;
	top: 78px;
	left: 20px;
	z-index: 20;
}

.text-link4 {
	position: absolute;
	left: 125px;
	top: 102px;
	color: white;
	text-align: left;
	font-size: 12px;
	z-index: 20;	
}

.text-link2 {
	position: absolute;
	left: 125px;
	top: 252px;
	color: white;
	text-align: left;
	font-size: 12px;
	z-index: 20;	
}

.text-link3 {
	position: absolute;
	left: 125px;
	top: 409px;
	color: white;
	text-align: left;
	font-size: 12px;
	z-index: 20;	
}

.text-link1 {
	position: absolute;
	left: 125px;
	top: 561px;
	color: white;
	text-align: left;
	font-size: 12px;
	z-index: 20;	
}

.index-menu {
	position: absolute;
	width: 284px;
	height: 668px;
	margin-left: 741px;
	letter-spacing: 1px;
}

#play {
	position: absolute;
	width: 200px;
	left: 400px;
	top: 350px;
	cursor: pointer;
	z-index: 11;
}

.video-wrapper {
	margin-top: 46px;
}

