#slide5 .single-holder {
	position: absolute;
	height: 688px;
	width: 1024px;
	overflow: hidden;
	margin-left: 0px;
	background-color: transparent;
	z-index: 2;
	background-color: #E4E3E3;
}

.single-holder .simageHolder {
	width: 1024px;
	left: 510px;
}

.header-text5 {
	position: absolute;
	background: #646464;
	color: white;
	padding: 6px;
	width: 382px;
	text-align: right;
	top: 181px;
	left: -31px;	
	font-weight: bold;
	font-size: 19px;
	z-index: 2;
}


.header-subtext5 {
	position: absolute;
	background: black;
	color: white;
	padding: 6px;
	width: 396px;
	text-align: right;
	top: 221px;
	left: -72px;
	font-weight: bold;
	font-size: 30px;
	z-index: 1;
}

.subtext-5 {
	top: 328px;
	left: 526px;
	font-weight: bold;
	font-size: 26px;
	position: absolute;
}


.subtext-5a {
	top: 368px;
	left: 527px;
	font-size: 13px;
	position: absolute;
	text-align: left;
	
}


.subtext-6 {
	top: 328px;
	left: 526px;
	font-weight: bold;
	font-size: 26px;
	position: absolute;
}


.subtext-6a {
	top: 368px;
	left: 527px;
	font-size: 13px;
	position: absolute;
	text-align: left;
	
}

.subtext-7 {
	top: 328px;
	left: 526px;
	font-weight: bold;
	font-size: 26px;
	position: absolute;
}


.subtext-7a {
	top: 368px;
	left: 527px;
	font-size: 13px;
	position: absolute;
	text-align: left;
	
}

.btn-rabatt {
	position: absolute;
	top: 360px;
	left: 803px;
}


#slide5 .subheadline{
	font-size: 35px;
	top: 92px;
	position: absolute;
	background-color: #3E3D41;
	color: #FFF;
	padding: 3px 35px 3px 5px;
	right: 0;

}


.matrix_wrapper{
	width: 1024px;
	overflow: hidden;
	position: relative;
	top: 160px;
}
.matrix_inner_wraper{
	position: relative;
	left: 0;
	overflow: hidden;
}
.matrix_container{
	float: left;
	text-align: left;
	width: 1024px;
}

/* matrix_items */
.matrix_items{
	display: inline-block;
	padding: 1px;
	position: relative;
}
.matrix_items .matrix_img{
	background-position: 70% 50% !important;
	display: block;
	height: 138px;
	background-size: 220% !important;
	background-repeat: no-repeat !important;
}
.matrix_items.item_big{
	height: 138px;
	width: 290px;
	overflow: hidden;
}
.matrix_items.item_small{
	height: 138px;
	width: 144px;
	overflow: hidden;
}
.matrix_items .icon_plus{
	background: url(../../img/page5/icon_plus.png) no-repeat;
	width: 55px;
	height: 53px;
	display: inline-block;
	position: absolute;
	bottom: 0px;
	right: 0px;
	background-size: 100% !important;
}


/* matrix_controller */
.matrix_controller{
	margin: 30px auto;
	width: 465px;
	overflow: hidden;
}
.matrix_controller .bt{
	display: inline-block;
}

.matrix_controller .bt_right,
.matrix_controller .bt_left{
	background: url(../../img/page5/matrix_arrows.png) no-repeat 0 0;
	width: 10px;
	height: 14px;
	z-index: -99999;
	float: left;
	margin: 0px 2px;
	cursor: pointer;
}

.matrix_controller .bt_right{
	background-position: top right;
}

.matrix_controller .matrix_scroller{
	width: 435px;
	height: 14px;
	float: left;
	background-color: #fff;
}
.matrix_controller .matrix_draggalbe{
	left: 0;
	position: relative;
	height: 14px;
	background-color: #FC0;
}

/* matrix_layer_wrapper */
.matrix_layer_wrapper{
	position: absolute;
	top:0;
	left: 0px;
	width: 100%;
	height: 100%;
	background: url(../../img/page5/overlay_bg.png);
	display: none;
		z-index: 11111;
}

.matrix_layer{
	width: 690px;
	margin: 130px auto 0;
	overflow: hidden;
}

.matrix_layer .content_left,
.matrix_layer .content_right{
	float: left;
}
.matrix_layer .content_left{
	width: 62px;	
	background-color: #FC0;
	text-align: center;
}
.matrix_layer .content_right{
	position: relative;
	width: 627px;	
}
.matrix_layer .large_img img{
	width: 100%;
}

.large_img {
	height:470px;
	position: relative;
	overflow: hidden;
}
.matrix_layer .closeOverlay{
	position: absolute !important;
	right: 0px;
	background: url(../../img/page5/closeOverlay.png) no-repeat 0 0;
	text-indent: -999999px;
	width: 35px;
	height: 35px;
	cursor: pointer;
}

.matrix_layer .content_left a, .printImg{
	font-size: 8px;
	color: #3E3D40;
	margin-top: 15px;
	overflow: hidden;
	position: relative;
	display: block;
	text-decoration: none;
}

.btOverlay{
	width: 19px;
	height: 30px;
	position: absolute;
	background: #F00;
	z-index: 111;
	bottom: 50px;
	left: 40%;
	background: url(../../img/page5/matrix_overlay_arrows.png) no-repeat 0 0;
	cursor: pointer;
}

.bt_rightOverlay{
	left: 54%;
	background-position: top right;
}
