#slide3 .single-holder {
	position: absolute;
	height: 688px;
	width: 1024px;
	overflow: hidden;
	margin-left: 0px;
	background-color: transparent;
	z-index: 2;
}

.single-holder .simageHolder {
	width: 1024px;
	left: 510px;
}



.header-text3 {
	position: absolute;
	background: black;
	color: white;
	padding: 0px 10px;
	width: 412px;
	text-align: right;
	top: 147px;
	left: -110px;
	font-weight: bold;
	font-size: 41px;
	z-index: 1;
}


.header-subtext3 {
	position: absolute;
	background: #646464;
	color: white;
	padding: 0px 10px;
	width: 382px;
	text-align: right;
	top: 212px;
	left: -22px;
	font-weight: bold;
	font-size: 24px;
	z-index: 1;
}

.pfeil1 {
	position: absolute;
	top: 499px;
	left: 190px;
}

.pfeil2 {
	position: absolute;
	top: 505px;
	left: 583px;
}

.pfeil1-text {
	position: absolute;
	top: 506px;
	left: 207px;
	font-weight: bold;
	font-size: 31px;
	width: 200px;
}

.pfeil2-text {
	position: absolute;
	top: 509px;
	left: 622px;
	color: white;
	font-weight: bold;
	font-size: 27px;
	width: 250px;
}

.btn1 {
	position: absolute;
	top: 506px;
	left: 417px;
}

.btn2 {
	position: absolute;
	top: 506px;
	left: 600px;
}

.pkw {
	position: absolute;
	
}

.pkw img {
	width: 510px;
	margin-left: -3px;
}

.motorrad {
	position: absolute;
	margin-left: 514px;
}

.motorrad img {
	width: 510px;
}

.pkw-holder,
.moto-holder
 {
	cursor: pointer;
}

.training {
	background: url(../img/page3/back-grey.jpg) no-repeat 0px 0px transparent;
	position: absolute;
	width: 357px;
	height:668px;
	left: 515px;
	
}

.training-menu div {
	float:left;
	color:#ffffff;
	font-size: 23px;
	margin-right: 30px;
	cursor: pointer;
}

.training-menu div.active {
	border-bottom: 4px solid #FFCC00;
	color: #FFCC00;
}

.training-menu {
	position: absolute;
	top: 100px;
	margin-left: 40px;
	z-index: 0;
}

.training-holder {
	
	text-align: left;
	margin-left: 50px;
	width: 260px;
	float:left;
}

.training-holder .title {
	color: #ffffff;
	font-size: 30px;
}

.training-holder .subtitle {
	margin-top:10px;
}

.training-holder .dauer {
	margin-top: 50px;
	border-top: 4px solid #FFCC00;
	border-bottom: 4px solid #FFCC00;
	padding: 15px 0;
	width: 250px;
}

.training-holder ul {
	padding-left: 20px;
	line-height: 20px;
}

.training-scroll {
	margin-top:600px;
}

.prev-training {
	margin-right:80px;
	cursor: pointer;
}

.next-training {
	cursor: pointer;
}

.trainings-container {
	width: 20000px;
	position: absolute;
	height: 200px;
}

.training-view {
	position: absolute;
	width: 357px;
	height: 400px;
	overflow: hidden;
	top: 200px;
}

.moto-holder, .pkw-holder {
	position: absolute;
	z-index: 2;
}

#slide3 .moto {
	left:150px;
}

.prev-training {
	position: absolute;
	left:120px;
}
.next-training {
	position: absolute;
	left:200px;
}