#slide6 .single-holder {
	position: absolute;
	height: 688px;
	width: 512px;
	overflow: hidden;
	margin-left: 0px;
	background-color: #e4e3e3;
	z-index: 2;
	margin-left:256px;
}

#slide6 .single-holder .simageHolder {
	width: 512px;
	left: 510px;
}

.header6 {
	position: absolute;
	top: 176px;
	left: 217px;
	font-weight: bold;
	font-size: 30px;
}

.header7 {
	position: absolute;
	top: 401px;
	left: 217px;
	font-weight: bold;
	font-size: 30px;
}

.headertext {
	position: absolute;
	top: 441px;
	left: 217px;
	font-weight: bold;
	font-size: 14px;
}


.feld {
	position: absolute;
	top: 137px;
	left: 126px;
}


.text-box {
	position: absolute;
	top: 490px;
	left: 220px;
	text-align: left;
	background-color: #646464;
	padding: 10px;
	width: 570px;
	color: white;
	border: 3px rgb(245, 207, 9) solid;	
}

.text-box-klein {
	position: absolute;
	top: 502px;
	left: 621px;
	background-color: rgb(245, 207, 9);
	padding: 7px;
	width: 139px;
	font-weight: bold;
}

.karte {
	position: absolute;
	top: 245px;
}

.karte img {
	width: 85%;
}

.flag {
	width: 20px;
	height: 20px;
	position: absolute;
	cursor: pointer;
}

#one {
	left: 406px;
	top: 30px;
}

#two {
	left: 362px;
	top: 20px;
}

#three {
	left: 437px;
	top: 32px;
}

#four {
	left: 287px;
	top: 30px;
}

#five {
	left: 233px;
	top: 80px;
}

#six {
	left: 137px;
	top: 90px;
}

#seven {
	left: 46px;
	top: 96px;
}

#eight {
	left: 385px;
	top: 96px;
}

#nine {
	left: 330px;
	top: 70px;
}

#ten {
	left: 320px;
	top: 117px;
}

#eleven {
	top: 46px;
	left: 360px;
}

#twelve {
	left: 254px;
	top: 55px;
}

#thirteen {
	left: 400px;
	top: 65px;
}

#fourteen {
	left: 285px;
	top: 108px;
}

.zentrum {
	background: url(../img/page6/back-detail.png) 0 0 no-repeat transparent;
	position: absolute;
	width: 150px;
	height: 220px;
	z-index: 1;
}

.one {
	top: 75px;
	left: 352px;
}

.two {
	top: 67px;
	left: 302px;
}

.three {
	top: 75px;
	left: 362px;
}

.four {
	top: 77px;
	left: 228px;
}

.five {
	top: 124px;
	left: 172px;
}

.six {
	top: 136px;
	left: 75px;
}

.seven {
	top: 143px;
	left: 5px;
}

.eight {
	top: 140px;
	left: 323px;
}

.nine {
	top: 115px;
	left: 265px;
}

.ten {
	top: 162px;
	left: 258px;
}

.eleven {
	top: 93px;
	left: 297px;	
}

.twelve {
	top: 100px;
	left: 190px;
}

.thirteen {
	top: 114px;
	left: 336px;
}

.fourteen {
	top: 153px;
	left: 225px;
}

#slide6 .headline {
	font-size: 13px;
	padding-top: 4px;
}

.text {
	color: #fff;
	font-size: 10px;
	text-align: left;
	margin-left: 10px;
	letter-spacing: 1px;
}

.google-map {
	position: absolute;
	margin-left: 31px;
	margin-top: -130px;
}

.bild {
	margin-top: 5px;
}

#slide6 .mainheadline {
	font-size: 25px;
	top: 135px;
	position: absolute;
	background-color: #9c9696;
	color: #ffffff;
	padding: 3px 35px 3px 5px;
	left: 180px;
}

#slide6 .subheadline {
	font-size: 35px;
	top: 172px;
	position: absolute;
	background-color: #3e3d41;
	color: #ffffff;
	padding: 3px 35px 3px 5px;
	left: 168px;
}

form {
	text-align: left;
	position: absolute;
	margin-top: 450px;
	margin-left: 40px;
}

.formfield {
	font-size: 9px;
	color:#808080;
}

.anrede {
	float:left;
	margin-right: 30px;
}

.form-box {
	float: left;
}

.titel {
	width:40px;
	float: left;
}

.titel input {
	width: 40px;
}

.vorname {
	width: 100px;
	float: left;
	margin-top:10px;
}

.vorname input {
	width: 90px;
}

.nachname {
	width: 100px;
	float: left;
	margin-top:10px;
}

.email {
	margin-top:50px;
}

.email input {
	width: 191px;
}

.nachname input {
	width: 90px;
}

.clear {
	clear:both;
}

.form-sub {
	font-size: 10px;
	margin-bottom: 12px;
	color: #3f3f42;
}

.bild img {
	width: 120px;
}

#slide6 .form-headline {
	position: absolute;
	top: 410px;
	left: 40px;
	font-size: 25px;
	color: #595959;
}

.form-box.first {
	border-right: 3px dotted #b2b2b2;
	padding-right: 20px;
	margin-right: 20px;
	margin-bottom: 20px;
}

.anrede span {
	margin-left: 10px;
	font-size: 11px;

}

textarea {
	font-size: 10px;
	width: 340px;
}

.agbs {
	position: absolute;
	left: 345px;
	top: 154px;
	font-size: 11px;
}

#send {
	background-color: #ffcc00;
	position: absolute;
	left: 345px;
	top: 188px;
	border: none;
	cursor: pointer;
	font-size: 14px;
	padding: 2px 18px;
}

#danke {
	position: absolute;
	top: 500px;
	text-align: left;
	left: 80px;
	display: none;
}

a {
	color: white;
}