* {
    margin: 0;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
body {
    font-family: Helvetica Neue, Helvetica, Arial;
}

.cover {
	position: fixed;
	width: 100%;
	height: 100%;
	top:0px;
	left:0px;
	z-index: 1;
}

.cover .header {
	background-color: transparent;
}

.page1-background {
	position: absolute;
top: 0;
z-index: -1;
}

.cover .headline {
	background: #3e3d40;
	color: #ffffff;
	width: auto;
	text-align: left;
	right: 0px;
	position: absolute;
	padding: 3px 10px;
	height: 25px;
}

.cover .subheadline {
	position: absolute;
right: 0px;
background: #9c9696;
color: #ffffff;
font-size: 13px;
margin-top: 34px;
padding-top: 4px;
padding-left: 7px;
padding-right: 10px;
height: 23px;
}

.click-here {
position: absolute;
cursor: pointer;
background-color: #FFCC00;
/* margin-top: 190px; */
/* background-image: none; */
width: 240px;
padding-left: 37px;
height: 50px;
padding-top: 7px;
/* margin-left: 130px; */
font-size: 30px;
font-weight: bold;
margin-left: 50%;
left: -120px;
bottom: 40px;
}


#mainWrapper {
}
.header {
    background-color: #444444;
    width:100%;
    font-size: 20px;
    color: #ffffff;
}
.slidesWrapper {
    margin-bottom: 40px;
}
.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #444444;

    padding: 10px 0 10px 30px;
    font-size: 16px;
    color: #ffffff;
}

.singleSlide {
    border-bottom: 2px solid #ffffff;
}
.singleSlide .toggle {
    background-color: #58585a;
    position: relative;
    padding: 15px 0 15px 30px;
    font-size: 16px;
    color: #ffffff;
}
.singleSlide .toggle:after {
    content: '';
    position: absolute;
    right: 20px;
    top: 19px;
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 10px 10px 0 10px;
    border-color: #ffffff transparent transparent transparent;
}
.singleSlide .panel {

	padding: 15px 0px 15px 10px;
	font-size: 16px;
	color: #000000;
	background-color: #3e3d40;
    display: none;
    min-height: 400px;
}

.headline {
	background-color: #ffffff;
	color: #3f3f42;
	height: 20px;
	width: 180px;
	margin-left: -10px;
	text-align: right;
	margin-bottom: 20px;
	padding-right: 5px;
	
}

#slide2 .headline {
	margin-top:20px;
}


.header-text3 {
background: none repeat scroll 0 0 #3e3d40;
color: #FFFFFF;
font-size: 27px;
font-weight: bold;
padding: 0 10px;
text-align: right;
width: 202px;
margin-left: -10px;
}

.header-subtext3 {
background: none repeat scroll 0 0 #646464;
color: #FFFFFF;
font-size: 18px;
padding: 0 10px;
text-align: right;
width: 239px;
margin-left: -10px;
margin-top: 10px;
}

#slide3 .panel {
	background: url("../img/back-training.jpg") no-repeat 0 0 transparent;
	background-size: cover;
min-height: 600px;
}

.moto-holder {
	margin-top: 140px;
	position: absolute;
}

.moto-holder img {
	width: 180px;
}

.pkw-holder {
	margin-top: 230px;
position: absolute;
right: 20px;
width: 180px;
}

.pkw-holder img {
	width:180px;
}

.training {
	background: #3e3d40;
	position: absolute;
	margin-top: -15px;
	margin-left: -400px;
	width: 100%;
	height: 600px;
}

.training-menu div.active {
	border-bottom: 4px solid #FFCC00;
	color: #FFCC00;
}

.training-menu div {
float: left;
color: #ffffff;
font-size: 21px;
margin-right: 20px;
cursor: pointer;
}

.training-menu {
width: 100%;
margin-top: 100px;
margin-left: 30px;
}

.training-view {
position: relative;
width: 100%;
height: 370px;
overflow: hidden;
top: 30px;
margin-left: -10px;
color: #ffffff;
}

.hidden {
	display: none;
}

.trainings-container {
width: 20000px;
position: absolute;
height: 200px;
}

.training-holder {
text-align: left;
margin-left: 50px;
width: 260px;
float: left;
}

.training-holder .title {
color: #ffffff;
font-size: 26px;
}

.training-holder .subtitle {
margin-top: 10px;
}

.training-holder ul {
padding-left: 20px;
line-height: 20px;
}

.training-holder .dauer {
margin-top: 20px;
border-top: 4px solid #FFCC00;
border-bottom: 4px solid #FFCC00;
padding: 15px 0;
width: 250px;
}

.community {
	margin-right: 0px;
}

.training-scroll {
	position: relative;
	width: 100%;
	text-align: center;
}

.prev-training {
	padding-right: 50px;
}

.buchung {
	display: none;
}

.antwort {
	display: none;
}

.fragen .frage {
background: none;
font-size: 16px;
padding-left: 0px;
font-weight: bold;
cursor: default;
color: #ffffff;
margin-bottom: 20px;
}

.fragen div {
background: url(/img/page4/btn-leer.svg) no-repeat 0 10px transparent;
padding-left: 52px;
margin-bottom: 0px;
position: relative;
width: 100%;
text-align: left;
height: 50px;
padding-top: 15px;
color:#ffffff;
}

.fragen div.active {
background: url(/img/page4/btn-voll.svg) no-repeat 0px 16px transparent;
}

.fragen .weiter {
position: relative;
cursor: pointer;
background-color: #FFCC00;
margin-top: 35px;
background-image: none;
width: 100px;
padding-left: 25px;
height: 30px;
padding-top: 4px;
margin-left: 100px;
padding-right: 25px;
padding-bottom: 4px;
display: block;
}

#slide4 .headline {
	background-color: #9c9696;
color: #ffffff;
height: 20px;
width: 260px;
margin-left: -10px;
text-align: right;
margin-bottom: 4px;
padding-right: 5px;
margin-top: 30px;
}

#slide4 .subheadline {
	color: #3f3f42;
	background: #ffffff;
	margin-left: -10px;
	width: 200px;
	text-align: right;
	padding-right: 5px;
	padding-bottom: 2px;
}

.steps {
	background: url("../img/steps-back.png") no-repeat 0 0 transparent;
}

.steps {
background: url("../img/steps-back.png") no-repeat center 0 transparent;
position: relative;
display: block;
height: 42px;
background-size: 150px;
width: 100%;
margin-top: 50px;
}

.step1 {
width: 35px;
height: 33px;
position: absolute;
margin-left: 79px;
background-size: 33px;
cursor: pointer;
}

.step1.active {
	background: url("../img/step-1-active.png") no-repeat center 0 transparent;
	background-size: 33px;
}

.step2.active {
	background: url("../img/step-2-active.png") no-repeat center 0 transparent;
	background-size: 33px;
}

.step3.active {
	background: url("../img/step-3-active.png") no-repeat center 0 transparent;
	background-size: 33px;
}

.step2 {
width: 35px;
height: 33px;
position: absolute;
margin-left: 137px;
cursor: pointer;	
}

.step3 {
width: 35px;
height: 33px;
position: absolute;
cursor: pointer;	
margin-left: 196px;
}

.antworten {
	color:#ffffff;
}

.antwort-headline {
	font-size: 20px;
margin-top: 20px;
margin-bottom: 20px;
}

.training-suggestions {
background: url(/img/page4/back-antworten.png) no-repeat 0 0 transparent;
width: 100%;
height: 276px;
margin-top: -10px;
position: absolute;
padding-top: 100px;
background-size: 94%;
font-size: 13px;
color: #000000;
}

.training-suggestions div {
background: url(/img/page4/back-training-1.png) no-repeat 0 0 transparent;
width: 90%;
height: 25px;
padding-left: 10px;
padding-top: 3px;
background-size: 95%;
margin-left: 14px;
}

.buchung {
	background: url(../img/back-training-wahl.png) no-repeat 0 0 transparent;
	width:100%;
	position: relative;
	background-size: 97%;
	margin-top: -110px;
	height: 327px;
}

.closer {
	background: url(../img/btn-close.png) no-repeat 0 0 transparent;
	position: absolute;
	width: 25px;
	height: 25px;
	background-size: 25px;
	right: 2px;
	top: -8px;
}

.final-training {
	background: url(../img/back-training.png) no-repeat 0 0 transparent;
	position: absolute;
margin-top: 55px;
background-size: 97%;
width: 90%;
height: 53px;
padding-left: 87px;
font-size: 15px;
padding-top: 7px;
margin-left: 14px;r
}

.gutschein-back {
	width: 91%;
	margin-top: 60px;
	margin-left: 10px;
}

.open-form {
width: 85%;
position: absolute;
margin-top: 94px;
margin-left: 17px;
}

.final-anrede {
	margin-top: 142px;
position: absolute;
color: #ffffff;
width: 100%;
font-size: 12px;
margin-left: 14px;
}

.gutschein-wrapper {
	position: absolute;
width: 100%;
margin-top: 173px;
}

.gutscheincode {
	position: absolute;
	margin-top: 177px;
	margin-left: 85px;
	color: #ffcc00;
}

.headline-keine-zeit {
	margin-top: 63px;
	position: absolute;
	width: 75%;
	margin-left: 18px;
}

.open-form img {
	width: 100%;
}

.gutschein-bestellen {
	position: absolute;
width: 100px;
height: 30px;
margin-left: 200px;
margin-top: -49px;
}

.antwort-subheadline {
	font-size: 13px;
}

.slider {
	width: 100%;
	overflow: hidden;
	position: relative;

}

.slides {
	height: 100%;
	overflow: hidden;
	-webkit-backface-visibility: hidden;
	-webkit-transform-style: preserve-3d;
	width: 100%;
	display: block;
	padding: 0px;
}

.slide {
text-align: center;
position: relative;
float: left;
clear: none;
height:100%;
display: block;

}

.slides img {
	width: 100%;
}

#slide5 .headline {
	width:310px;
	margin-left:0px;
}

.img-menu {
position: absolute;
text-align: right;
background: #fecc00;
right: 0;
padding: 2px 4px 0px 4px;
margin-top: -50px;
}

.img-menu div {
	float:left;
	width: 40px;
	
}

.img-menu img {
	width: 100%;
}

#slide5 .panel {
	padding: 15px 0px 15px 0px;
}

#slide6 .panel {
	color:#ffffff;
}

#slide6 .headline {
	background-color: #9c9696;
color: #ffffff;
height: 20px;
width: 270px;
margin-left: 0px;
text-align: left;
margin-bottom: 5px;
padding-right: 5px;
float: right;
padding-left: 5px;
font-size: 15px;
padding-top: 1px;
}

#slide6 .subheadline {
background-color: #ffffff;
color: #3f3f42;
height: 20px;
width: 220px;
margin-left: 0px;
text-align: left;
margin-bottom: 5px;
padding-right: 5px;
float: right;
padding-left: 5px;
font-size: 17px;
padding-top: 1px;
}

.clear {
	clear:both;
}

#slide6 ul {
	padding: 0px 0px 0px 10px;
}

#slide6 li {
	list-style: none;
	margin-left:15px;
	font-size: 12px;
	line-height: 20px;
	
}

#slide6 li.li-headline {
	margin-left:0px;
	font-size: 14px;
	font-weight: bold;
}

.zentrum {
	position: absolute;
	background: #515152;
	margin-top: 30px;
	margin-left: 20px;
}

#slide6 .zentren-info .headline {
	text-align: center;
background: #ffcc00;
color: #000000;
font-size: 16px;
height: auto;
padding-top: 3px;
font-weight: bold;
}

.zentrum .text {
	padding: 45px 5px 15px 10px;
	line-height: 25px;
}

.zentrum a {
	color:#ffffff;
}

.zentrum .closer {
	right: -10px;
	top: -11px;
}

.form-wrapper {
	width: 100%;
	text-align: center;
	color: #ffffff;
}

input {
	width: 70%;
	margin-bottom: 5px;
}

.anrede {
display: inline-block;
margin-right: 20px;
margin-top: 15px;
margin-bottom: 15px;
}

.anrede input {
	width: 23px;
}

.anrede-wrap {
	width: 78%;
display: block;
position: relative;
height: auto;
}

textarea {
	width:70%;
}

#danke {
	padding:20px;
	display: none;
}

#send {
	background-color: #ffcc00;
border: none;
font-size: 14px;
padding: 2px 18px;
background-color: #ffcc00;
}

#agb {
	width:20px;
}

.form-headline {
	color:#cccccc;	
	margin-top: 20px;
	margin-bottom: 10px;
	margin-left: -120px;

}

.first .form-sub {
	font-size: 12px;
	margin-left: -57px;
}

.second .form-sub {
	font-size: 12px;
	margin-left: 20px;
	margin-top: 20px;
}

#slide7 .panel {
	padding-left:0px;
}


.agbs {
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: -168px;
}


























