* {
    margin: 0;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
body {
    font-family: Helvetica Neue, Helvetica, Arial;
}

.cover {
	position: fixed;
	width: 100%;
	height: 100%;
	top:0px;
	left:0px;
	z-index: 1;
}

.cover .header {
	background-color: transparent;
}

.page1-background {
	position: absolute;
top: 0px;
z-index: -1;
}

.page1-background img {
	width: 100%;
}

.page1-background.moto {
	top:0px;
}

.page1-background.moto {
	width: 120%;
}

.cover .headline {
	background: #3e3d40;
	color: #ffffff;
	width: auto;
	text-align: left;
	right: 0px;
	position: absolute;
	padding: 3px 10px;
	height: 25px;
}

.cover .subheadline {
	position: absolute;
right: 0px;
background: #9c9696;
color: #ffffff;
font-size: 13px;
margin-top: 34px;
padding-top: 4px;
padding-left: 7px;
padding-right: 10px;
height: 23px;
}

.click-here {
position: absolute;
cursor: pointer;
background-color: #FFCC00;
/* margin-top: 190px; */
/* background-image: none; */
width: 240px;
padding-left: 37px;
height: 50px;
padding-top: 7px;
/* margin-left: 130px; */
font-size: 30px;
font-weight: bold;
margin-left: 50%;
left: -120px;
bottom: 40px;
}


#mainWrapper {
}
.header {
    background-color: #444444;
    width:100%;
    font-size: 20px;
    color: #ffffff;
}
.slidesWrapper {
    margin-bottom: 40px;
}
.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #444444;

    padding: 10px 0 10px 30px;
    font-size: 16px;
    color: #ffffff;
}

.singleSlide {
    border-bottom: 2px solid #ffffff;
}
.singleSlide .toggle {
    background-color: #58585a;
    position: relative;
    padding: 15px 0 15px 30px;
    font-size: 16px;
    color: #ffffff;
}
.singleSlide .toggle:after {
    content: '';
    position: absolute;
    right: 20px;
    top: 19px;
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 10px 10px 0 10px;
    border-color: #ffffff transparent transparent transparent;
}
.singleSlide .panel {

	padding: 15px 10px 35px 10px;
	font-size: 16px;
	color: #000000;
	background-color: #3e3d40;
    display: none;
    min-height: 400px;
}

.headline {
	background-color: #ffffff;
	color: #3f3f42;
	height: 20px;
	width: 180px;
	margin-left: -10px;
	text-align: right;
	margin-bottom: 20px;
	padding-right: 5px;
	
}

#slide2 .headline {
	margin-top:20px;
}


.header-text3 {
background: none repeat scroll 0 0 #3e3d40;
color: #FFFFFF;
font-size: 27px;
font-weight: bold;
padding: 0 10px;
text-align: right;
width: 155px;
margin-left: -10px;
}

.header-subtext3 {
background: none repeat scroll 0 0 #646464;
color: #FFFFFF;
font-size: 18px;
padding: 0 10px;
text-align: right;
width: 239px;
margin-left: -10px;
margin-top: 10px;
}

#slide3 .panel {
	background: url("../img/back-training.jpg") no-repeat 0 0 transparent;
	background-size: cover;
min-height: 600px;
}

.moto-holder {
	margin-top: 140px;
	position: absolute;
}

.moto-holder img {
	width: 180px;
}

.pkw-holder {
	margin-top: 230px;
position: absolute;
right: 20px;
width: 180px;
}

.pkw-holder img {
	width:180px;
}

.training {
	background: #3e3d40;
	position: absolute;
	margin-top: -15px;
	margin-left: -120%;
	width: 100%;
	height: 600px;
}

.training-menu div.active {
	border-bottom: 4px solid #FFCC00;
	color: #FFCC00;
}

.training-menu div {
float: left;
color: #ffffff;
font-size: 21px;
margin-right: 20px;
cursor: pointer;
}

.training-menu {
width: 100%;
margin-top: 100px;
margin-left: 30px;
}

.training-view {
position: relative;
width: 300px;
height: 370px;
overflow: hidden;
top: 30px;
margin-left: -10px;
color: #ffffff;
}

.hidden {
	display: none;
}

.trainings-container {
width: 20000px;
position: absolute;
height: 200px;
}

.training-holder {
text-align: left;
margin-left: 50px;
width: 260px;
float: left;
}

.training-holder .title {
color: #ffffff;
font-size: 26px;
}

.training-holder .subtitle {
margin-top: 10px;
}

.training-holder ul {
padding-left: 20px;
line-height: 20px;
}

.training-holder .dauer {
margin-top: 20px;
border-top: 4px solid #FFCC00;
border-bottom: 4px solid #FFCC00;
padding: 15px 0;
width: 250px;
}

.community {
	margin-right: 0px;
}

.training-scroll {
	position: relative;
	width: 100%;
	text-align: center;
}

.prev-training {
	margin-right: 50px;
}

.buchung {
	display: none;
}

.antwort {
	display: none;
}

.fragen .frage {
background: none;
font-size: 16px;
padding-left: 0px;
font-weight: bold;
cursor: default;
color: #ffffff;
margin-bottom: 20px;
}

.fragen div {
background: url(/img/page4/btn-leer.svg) no-repeat 0 10px transparent;
padding-left: 52px;
margin-bottom: 0px;
position: relative;
width: 100%;
text-align: left;
height: 50px;
padding-top: 15px;
color:#ffffff;
}

.fragen div.active {
background: url(/img/page4/btn-voll.svg) no-repeat 0px 16px transparent;
}

.fragen .weiter {
position: relative;
cursor: pointer;
background-color: #FFCC00;
margin-top: 35px;
background-image: none;
width: 100px;
padding-left: 25px;
height: 30px;
padding-top: 4px;
margin-left: 100px;
padding-right: 25px;
padding-bottom: 4px;
display: block;
}

#slide5 .headline {
	background-color: #9c9696;
color: #ffffff;
height: 20px;
width: 260px;
margin-left: -10px;
text-align: right;
margin-bottom: 4px;
padding-right: 5px;
margin-top: 30px;
}

#slide5 .subheadline {
	color: #3f3f42;
	background: #ffffff;
	margin-left: -10px;
	width: 200px;
	text-align: right;
	padding-right: 5px;
	padding-bottom: 2px;
}

.steps {
	background: url("../img/steps-back.png") no-repeat 0 0 transparent;
}

.steps {
background: url("../img/steps-back.png") no-repeat center 0 transparent;
position: relative;
display: block;
height: 42px;
background-size: 150px;
width: 309px;
margin-top: 50px;
}

.step1 {
width: 35px;
height: 33px;
position: absolute;
margin-left: 79px;
background-size: 33px;
cursor: pointer;
}

.step1.active {
	background: url("../img/step-1-active.png") no-repeat center 0 transparent;
	background-size: 33px;
}

.step2.active {
	background: url("../img/step-2-active.png") no-repeat center 0 transparent;
	background-size: 33px;
}

.step3.active {
	background: url("../img/step-3-active.png") no-repeat center 0 transparent;
	background-size: 33px;
}

.step2 {
width: 35px;
height: 33px;
position: absolute;
margin-left: 137px;
cursor: pointer;	
}

.step3 {
width: 35px;
height: 33px;
position: absolute;
cursor: pointer;	
margin-left: 196px;
}

.antworten {
	color:#ffffff;
}

.antwort-headline {
	font-size: 20px;
margin-top: 20px;
margin-bottom: 20px;
}

.training-suggestions {
background: url(/img/page4/back-antworten.png) no-repeat 0 -2px transparent;
width: 100%;
min-height: 450px;
margin-top: -10px;
position: relative;
padding-top: 28%;
background-size: 94%;
font-size: 13px;
color: #000000;
}

.training-suggestions div {
background: url(/img/page4/back-training-1.png) no-repeat 0 -2px transparent;
width: 90%;
min-height: 20px;
padding-left: 10px;
padding-top: 1%;
background-size: 95%;
margin-left: 14px;
position: relative;
margin-top: 2%;
padding-bottom: 1%;
}

.buchung {
	background: url(../img/back-training-wahl.png) no-repeat 0 0 transparent;
width: 100%;
position: absolute;
background-size: 97%;
margin-top: -470px;
height: 650px;
margin-left: -1px;
}

.closer {
	background: url(../img/btn-close.png) no-repeat 0 0 transparent;
	position: absolute;
	width: 25px;
	height: 25px;
	background-size: 25px;
	right: 2px;
	top: -8px;
}

.final-training {
	background: url(../img/back-training.png) no-repeat 0 0 transparent;
	position: absolute;
/* margin-top: 15%; */
margin-top: 47px;
background-size: 97%;
width: 90%;
height: 75px;
font-size: 15px;
padding-top: 3%;
margin-left: 14px;
text-align: center;
}

.gutschein-back {
    width: 91%;
    margin-top: 60px;
    margin-left: 10px;
    background: url(../img/jetzt_bestellen.png) no-repeat;
    background-size: 100% 100%;
    height: 100%;
    padding: 41px 140px 10px 10px;
    font-size: 12px;
    color: #ffffff;
}

.open-form {
width: 85%;
position: absolute;
/* margin-top: 28%; */
margin-top: 85px;
margin-left: 17px;
}

.final-anrede {
margin-top: 45%;
position: absolute;
color: #ffffff;
width: 92%;
font-size: 12px;
text-align: center;
}

.gutschein-wrapper {
	position: absolute;
width: 100%;
/* margin-top: 58%; */
margin-top: -10px;
}

.gutscheincode {
position: relative;
margin-top: 210px;
/* margin-top: 57%; */
margin-left: 28%;
color: #ffcc00;
font-size: 14px;
}


.headline-keine-zeit {
    margin-top: 72px;
    position: absolute;
    margin-left: 18px;
    color: #ffffff;
    font-size: 20px;
    font-weight: bold;
}

.open-form img {
	width: 100%;
}

.gutschein-bestellen {
    position: absolute;
    width: 116px;
    height: 30px;
    right: 40px;
    margin-top: -59px;
    background-color: #ffce00;
    padding: 6px;
    font-size: 14px;
    text-align: center;
    font-weight: bold;
}

.antwort-subheadline {
	font-size: 13px;
}

.slider {
	width: 100%;
	overflow: hidden;
	position: relative;

}

.slides {
	height: 100%;
	overflow: hidden;
	-webkit-backface-visibility: hidden;
	-webkit-transform-style: preserve-3d;
	width: 100%;
	display: block;
	padding: 0px;
}

.slide {
text-align: center;
position: relative;
float: left;
clear: none;
height:100%;
display: block;
width: 100%;
}

.slider-img {
    width: 145px;
    margin: 3px;
}

.individual_img {
	width: 100% !important;
}

#slide6 .headline {
	width:310px;
	margin-left:0px;
}

.slideshow-holder {
	margin-top: 70px;
}

.img-menu {
	position: relative;
    background: #fecc00;
    right: 0;
    padding: 30px 20px;
    width: 100%;
    height: 140px;
	margin-top: -3px;

}

.img-menu div {
    width: 60px;
    display: inline-block;
}

.img-menu img {
	width: 100%;
}

#slide6 .registrieren_btn {
	position: static;
}

#slide6 .slider-img-big {
	position: absolute;
    top: 400px;
    text-align:center;
}

#slide6 .img-big {
	width:100%;
}

#slide6 .closeOverlaymobile {
	position: absolute !important;
	right: 0px;
	background: url(../../img/page6/closeOverlay.png) no-repeat 0 0;
	text-indent: -999999px;
	width: 35px;
	height: 35px;
	cursor: pointer;
	z-index: 1;
}

.icon_plus{
	background: url(../../img/page6/icon_plus.png) no-repeat;
    width: 40px;
    height: 35px;
    display: inline-block;
    position: absolute;
    margin-left: -43px;
    margin-top: 77px;
    z-index: 1;
	background-size: 100% !important;
}

.icon_individual {
	margin-left: 0px;
    margin-top: -41px;
    z-index: 1;
    background-size: 100% !important;
    right: -3px;
}

.images_label_mobile {
	padding: 20px;
    text-align: left;
    color: #ffffff;
}

/* OWL slider */
.owl-next {
	right: 0px;
    position: absolute;
    top: 140px;
}

.owl-prev {
	left: 0px;
    position: absolute;
    top: 140px;
}

.owl-theme .owl-controls .owl-buttons div {
	opacity: 0.5;
    width: 50px;
    background: none;
}


#slide6 .panel {
	padding: 15px 0px 15px 0px;
	min-height: 495px;
}

#slide7 .panel {
	color:#ffffff;
}

#slide7 .headline {
	background-color: #9c9696;
color: #ffffff;
height: 20px;
width: 270px;
margin-left: 0px;
text-align: left;
margin-bottom: 5px;
padding-right: 5px;
float: right;
padding-left: 5px;
font-size: 15px;
padding-top: 1px;
}

#slide7 .subheadline {
background-color: #ffffff;
color: #3f3f42;
height: 20px;
width: 80%;
margin-left: 0px;
text-align: left;
margin-bottom: 5px;
padding-right: 5px;
float: right;
padding-left: 5px;
font-size: 17px;
padding-top: 1px;
}

.clear {
	clear:both;
}

#slide7 ul {
	padding: 0px 0px 0px 10px;
}

#slide7 li {
	list-style: none;
	margin-left:15px;
	font-size: 12px;
	line-height: 20px;
	
}

#slide7 li.li-headline {
	margin-left:0px;
	font-size: 14px;
	font-weight: bold;
}

.zentrum {
	position: absolute;
	background: #515152;
	margin-top: 30px;
	margin-left: 20px;
}

#slide7 .zentren-info .headline {
	text-align: center;
background: #ffcc00;
color: #000000;
font-size: 16px;
height: auto;
padding-top: 3px;
font-weight: bold;
}

.zentrum .text {
	padding: 45px 5px 15px 10px;
	line-height: 25px;
}

.zentrum a {
	color:#ffffff;
}

.zentrum .closer {
	right: -10px;
	top: -11px;
}

.zentren-select ul li, .zentren-info .headline{
	cursor: pointer;
}

.form-wrapper {
	width: 100%;
	text-align: center;
	color: #ffffff;
}

input {
	width: 70%;
	margin-bottom: 5px;
}

.anrede {
display: inline-block;
margin-right: 20px;
margin-top: 15px;
margin-bottom: 15px;
}

.anrede input {
	width: 23px;
}

.anrede-wrap {
	width: 78%;
display: block;
position: relative;
height: auto;
}

textarea {
	width:70%;
}

#danke {
	padding:20px;
	display: none;
}

#send {
	background-color: #ffcc00;
border: none;
font-size: 14px;
padding: 2px 18px;
background-color: #ffcc00;
}

#agb {
	width:20px;
}

.form-headline {
color: #cccccc;
margin-top: 20px;
margin-bottom: 10px;
margin-left: -100px;
font-size: 20px;

}

.first .form-sub {
	font-size: 12px;
	margin-left: -57px;
}

.second .form-sub {
	font-size: 12px;
	margin-left: 20px;
	margin-top: 20px;
}

#slide7 .panel {
	padding-left:0px;
}


.agbs {
margin-top: 190px;
margin-bottom: 10px;
margin-left: -198px;
position: relative;
z-index: 22;
}


.agbs a {
	color:#ffffff;
	font-size: 12px;
}

.teilen-button {
background-color: #ffcc00;
position: absolute;
left: 98px;
top: 545px;
border: none;
cursor: pointer;
font-size: 18px;
padding: 5px 18px;
text-decoration: none;
color: #000;
}

.fliesstext {
position: absolute;
width: 270px;
height: 300px;
top: 610px;
text-align: left;
font-size: 14px;
left: 25px;
}




/* Slide 5 */
.registrieren_btn {
    position: relative;
    cursor: pointer;
    background-color: #FFCC00;
    padding: 5px 5px;
    color: #000000;
    width: 180px;
    margin: auto;
    text-align: center;
}

.registrieren_btn a{
    text-decoration: none;
    color: #000000;
}

#slide4 .registrieren_wrapper {
	position: relative;
	background: url(../../img/page5/registrieren_back.png) no-repeat 0 0;
	color: #000000;
	text-align:left;
	height: 270px;
    width: 100%;
    background-size: 100%;
    padding-top: 47px;
    margin-top: 5px;
}

.registrieren_label {
	color: #ffffff;
	font-size: 13px;
	line-height: 1.4;
	width: 309px;
    position: relative;
    top: 50px;
}

#slide4 .registrieren_items {
	margin: 5px 20px;
	padding: 5px 0 0 13px;
	height: 28px;
    font-size: 15px;
    background: url(../../img/page5/label_back.png) no-repeat 0 0;
}

#slide4 .registrieren_items.first {
	margin: 50px 20px 0;
}

#slide4 .subheadline {
	color: #3f3f42;
	background: #ffffff;
	margin-left: -10px;
	width: 340px;
    text-align: left;
    font-size: 13px;
    padding: 5px 5px 5px 20px;
}

#slide4 .headline {
    background-color: #9c9696;
    color: #ffffff;
    height: 26px;
    width: 260px;
    margin-left: -10px;
    text-align: left;
    margin-bottom: 5px;
    padding: 5px 5px 5px 20px;
    margin-top: 30px;
}













